* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.doctitle {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px var(--color-text-shadow);
    padding-bottom: 2rem;
    font-size: 5rem;
    letter-spacing: 0.4rem;
}
.doctitle span {
    color: var(--second-color);
}
.doctorbox .doctorcont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}
.doctorbox .doctorcont .doctorprof {
    box-shadow: 5px 5px var(--color-text-shadow);
    border: 2px solid var(--second-color);
    border-radius: 5px;
    background-color: var(--fourth-color);
    text-align: center;
    padding: 2rem;
}
.doctorbox .doctorcont .doctorprof img {
    border: 2px solid var(--second-color);
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.doctorbox .doctorcont .doctorprof h3 {
    color: var(--text-color);
    font-size: 2.5rem;
}
.doctorbox .doctorcont .doctorprof span {
    color: var(--first-color);
    font-weight: bolder;
    font-size: 1.5rem;
}
.doctorbox .doctorcont .doctorprof .share {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.doctorbox .doctorcont .doctorprof .share a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    line-height: 4.5rem;
    border: 2px solid var(--second-color);
    border-radius: 5px;
    margin: 1rem;
}
.doctorbox .doctorcont .doctorprof .share a svg {
    fill: var(--second-color);
}
.doctorbox .doctorcont .doctorprof .share a:hover {
    background-color: var(--second-color);
    transition: 0.3s;
}
.doctorbox .doctorcont .doctorprof .share a:hover svg {
    fill: var(--fourth-color);
}
@media screen and (max-width: 966px) {
    .doctitle {
        font-size: 3.5rem;
    }
    .doctorbox .doctorcont .doctorprof {
        padding: 2rem;
    }
    .doctorbox .doctorcont {
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    }
    .doctorbox .doctorcont .doctorprof img {
        width: 200;
    }
    .doctorbox .doctorcont .doctorprof img {
        width: 14rem;
        height: 14rem;
    }
    .content h3 {
        font-size: 3.5rem;
        line-height: 1.3;
    }
}