* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.booktitle {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px var(--color-text-shadow);
    padding-bottom: 2rem;
    font-size: 5rem;
    letter-spacing: 0.4rem;
}
.bookbox .bookrow {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
}
.bookbox .bookrow .imgbox {
    flex: 1 1 45rem;
}
.bookbox .bookrow .imgbox img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .bookbox .bookrow {
        display: block;
    }
    .booktitle {
        font-size: 2.5rem;
    }
}