* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.iconbox {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.iconbox .myicon {
    box-shadow: 5px 5px var(--color-text-shadow);
    border: 2px solid var(--second-color);
    border-radius: 5px;
    padding: 2.5rem;
    text-align: center;
    background-color: var(--fourth-color);
}
.iconbox .myicon .medicicon {
    width: 60px;
    height: 60px;
    fill: var(--first-color);
}
.iconbox .myicon h3 {
    font-size: 4.5rem;
    text-shadow: 4px 4px var(--color-text-shadow);
    padding: 0.5rem 0;
}
.iconbox .myicon p {
    font-size: 1.7rem;
}